* {
    margin: 0;
    text-decoration: none;
}

body{
    min-height: 100vh;
    width: 100%;
}


/*----nav-------*/

nav{
    color: pink;
    background-color:lightgrey; 
    position: relative; 
    min-height:25vh;
}

nav a {
    text-decoration: none;
    color: yellow; 
    font-family: lexend, sans-serif;
    font-weight: 500;
    font-size: 3em;
    padding-left: 30px;
    
}